﻿@model Otus.Teaching.Pcf.Dictionary.Services.DTOs.PromoCodeDTO

@{
	ViewData["Title"] = "Edit";
}

<h1>Редактирование</h1>

<h4>Промокод</h4>
<hr />
<div class="row">
 <div class="col-md-4">
  <form asp-action="Edit">
   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
   <div class="form-group">
	<label asp-for="Code" class="control-label"></label>
	<input asp-for="Code" class="form-control" />
	<span asp-validation-for="Code" class="text-danger"></span>
   </div>
   <div class="form-group">
	<label asp-for="ServiceInfo" class="control-label"></label>
	<input asp-for="ServiceInfo" class="form-control" />
	<span asp-validation-for="ServiceInfo" class="text-danger"></span>
   </div>
   <div class="form-group">
	<label asp-for="BeginDate" class="control-label"></label>
	<input asp-for="BeginDate" class="form-control" />
	<span asp-validation-for="BeginDate" class="text-danger"></span>
   </div>
   <div class="form-group">
	<label asp-for="EndDate" class="control-label"></label>
	<input asp-for="EndDate" class="form-control" />
	<span asp-validation-for="EndDate" class="text-danger"></span>
   </div>
   <div class="form-group">
	<label asp-for="PartnerId" class="control-label"></label>
	<select asp-for="PartnerId" class="form-control" asp-items="@ViewBag.Partners">
	 <option>Выберите партнера</option>
	</select>
	<span asp-validation-for="PartnerId" class="text-danger"></span>
   </div>
   <div class="form-group">
	<label asp-for="PreferenceId" class="control-label"></label>
	<select asp-for="PreferenceId" class="form-control" asp-items="@ViewBag.Preferences">
	 <option>Выберите к какому предпочтению относится</option>
	</select>
	<span asp-validation-for="PreferenceId" class="text-danger"></span>
   </div>
   <div><input asp-for="Id" class="form-control" type="hidden" /></div>
   <div class="form-group">
	<input type="submit" value="Save" class="btn btn-primary" />
   </div>
  </form>
 </div>
</div>

<div>
 <a asp-action="Index">К списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
