﻿@model IEnumerable<Otus.Teaching.Pcf.Dictionary.Services.DTOs.PromoCodeDTOs.GetPromoCodeDTO>

@{
	ViewData["Title"] = "Промокоды";
}

<h1>Промокоды</h1>

<p>
 <a asp-action="Create">Создание</a>
</p>
<table class="table">
 <thead>
  <tr>
   <th>
				@Html.DisplayNameFor(model => model.Id)
   </th>
   <th>
				@Html.DisplayNameFor(model => model.Code)
   </th>
   <th>
				@Html.DisplayNameFor(model => model.ServiceInfo)
   </th>
   <th>
				@Html.DisplayNameFor(model => model.BeginDate)
   </th>
   <th>
				@Html.DisplayNameFor(model => model.EndDate)
   </th>
   <th>
				@Html.DisplayNameFor(model => model.PartnerName)
   </th>
   <th>
				@Html.DisplayNameFor(model => model.PreferenceName)
   </th>

   <th></th>
  </tr>
 </thead>
 <tbody>
		@foreach (var item in Model)
		{
	  <tr>
	   <td>
					@Html.DisplayFor(modelItem => item.Code)
	   </td>
	   <td>
					@Html.DisplayFor(modelItem => item.ServiceInfo)
	   </td>
	   <td>
					@Html.DisplayFor(modelItem => item.BeginDate)
	   </td>
	   <td>
					@Html.DisplayFor(modelItem => item.EndDate)
	   </td>
	   <td>
					@Html.DisplayFor(modelItem => item.PartnerName)
	   </td>
	   <td>
					@Html.DisplayFor(modelItem => item.PreferenceName)
	   </td>
	   <td>
					@Html.DisplayFor(modelItem => item.Id)
	   </td>
	   <td>
					@Html.ActionLink("Редактирование", "Edit", new {  id=item.Id  })
	   </td>
	  </tr>
		}
 </tbody>
</table>
