﻿@model IEnumerable<Otus.Teaching.Pcf.Dictionary.Services.DTOs.UserDTOs.GetUserDTO>

@{
	ViewData["Title"] = "Users";
}

<h1>Users</h1>

<p>
 <a asp-action="Create">Create New</a>
</p>
<table class="table">
 <thead>
  <tr>
   <th>
				@Html.DisplayNameFor(model => model.FullName)
   </th>
   <th>
				@Html.DisplayNameFor(model => model.Email)
   </th>
   <th>
				@Html.DisplayNameFor(model => model.Id)
   </th>
   <th></th>
  </tr>
 </thead>
 <tbody>
		@foreach (var item in Model)
		{
	  <tr>
	   <td>
					@Html.DisplayFor(modelItem => item.FullName)
	   </td>
	   <td>
					@Html.DisplayFor(modelItem => item.Email)
	   </td>
	   <td>
					@Html.DisplayFor(modelItem => item.Id)
	   </td>
	   <td>
					@Html.ActionLink("Редактирование", "Edit", new {  id=item.Id  }) |
					@Html.ActionLink("Удалить", "Delete", new {  id=item.Id })
	   </td>
	  </tr>
		}
 </tbody>
</table>
